body {
    background: linear-gradient(to bottom, #050505, #8c1508);
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: Arial, sans-serif;
}


.logo {
    height: 60px;
    margin-left: 10px;
}

.main-btn {
    background-color: #570d05;
    color: ivory;
    text-transform: uppercase;
    padding: 10px 20px;
    border-radius: 30px;
    border: 3px solid transparent;
    transition: .3s;
}

.main-btn:hover {
    text-decoration: none;
    color: ivory;
    background-color: transparent;
    border-color: ivory;
}

.tec {
    height: 50px;
}

footer {
    width: 100%;
    bottom: 0;
    background: linear-gradient(to right, #0e0201, #570d05);
    color: rgb(226, 216, 216);
    padding: 100px 0 30px;
    border-top-left-radius: 125px;
    font-size: 13px;
    line-height: 20px;
}

.row {
    width: 85%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: self-start;
    justify-content: space-between;
    margin-left: 100px;
}

.col {
    flex-basis: 25%;
    padding: 10px;
}

.tec {
    width: 200px;
    margin-bottom: 30px;
    margin-left: 150px;
}

.tecgames {
    margin-left: 150px;
}

.sobre {
    margin-left: 30px;
}

.jogos {
    margin-left: 30px;
}

.novos {
    margin-left: 20px;
}

.col h3 {
    width: fit-content;
    margin-bottom: 40px;
    position: relative;
}

ul li {
    list-style: none;
    margin-bottom: 12px;
}

ul li a {
    text-decoration: none;
    color: rgb(226, 216, 216);
}
form {
    padding-bottom: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #ccc;
    margin-bottom: 50px;
}
 form .fa-regular {
    font-size: 18px;
    margin-right: 10px;
 }

 form input {
    width: 100%;
    background: transparent;
    color: #ccc;
    border: 0;
    outline: none;
 }

 form button {
    background: transparent;
    border: 0;
    outline: none;
    cursor: pointer;
 }

 .social-icons .fa-brands {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    text-align: center;
    line-height: 28px;
    font-size: 20px;
    color: #ccc;
    background-color: #fff;
    margin-right: 15px;
    cursor: pointer;
 }


 .copyright {
    text-align: center;
 }

 .underline {
    width: 100%;
    height: 5px;
    background: #767676;
    border-radius: 3px;
    position: absolute;
    top: 40px;
    left: 0;
    overflow: hidden;
 }

 .underline span {
    width: 15px;
    height: 100%;
    background-color: #fff;
    border-radius: 3px;
    position: absolute;
    top: 0;
    left: 10px;
    animation: moving 2s linear infinite;
 }

 @keyframes moving {
    0% {
        left: 0px;
    }
    100% {
        left: 100%;
    }
 }

 .games {
    margin-left: 30%;
    margin-top: 10%;
    margin-bottom: 10%;
    box-shadow: 0 0 20px hsl(5, 92%, 5%);
    border-radius: 30px;
}

.novosjogos {
    font-size: 25px;
}



